<div class="columns">
  <div class="column card is-offset-one-quarter is-half">
    <h1>Pending sent friend requests</h1>
    <ul>
      <% @sent_friendship_requests.each do |friendship| %>
        <li>
          <%= friendship.friend.name %>
          <%= friendship.status %>
          <%= link_to "cancel friend request", friendship_path(id: friendship.id), method: "delete" %>
        </li>
      <% end %>
    
    </ul>
  </div>
</div>

<div class="columns">
  <div class="column card is-offset-one-quarter is-half">
    <h1>Pending received friend requests</h1>
    <ul>
      <% @received_friendship_requests.each do |friendship| %>
        <li>
          <%= friendship.user.name %>
          <%= link_to "accept friend", friendship_path(id: friendship.id, status: true), method: "patch" %>
          <%= link_to "dont accept friend", friendship_path(id: friendship.id), method: "delete" %>
        </li>
      <% end %>
    
    </ul>
  </div>
</div>

<div class="columns">
  <div class="column card is-offset-one-quarter is-half">
    <h1>Friends</h1>
    <ul>
      <% @real_friends.each do |friendship| %>
        <li>
          <%= friendship.friend.name %>
          <%= friendship.status %>
          <%= link_to "Remove friend", friendship_path(id: friendship.id), method: "delete", class: "text-is-danger" %>
        </li>
      <% end %>
    
    </ul>
  </div>
</div>

<div class="columns">
  <div class="column card is-offset-one-quarter is-half">
    <h1> Suggested friends</h1>
    <ul>
      <% @non_friends.each do |user| %>
        <li>
          <%= user.name %>
          <%= link_to "Add friend", friendships_path(friend_id: user.id, status: false), method: "post" %>
        </li>
      <% end %>      
    </ul>
  </div>
</div>

