<% unless notice.nil? %>
  <p class="notification is-warning" sid="notice"><%= notice %></p>
<% end %>

<section id="new-post-form" class="columns">

  <div class="column is-one-quarter">
    <%= link_to "Friends", friendships_path, class: "button ml-3 is-primary" %>
  </div>


  <div class="column is-half card">
    <%= form_with model: @post, local: true do |form| %>
      <div class="field">
        <%= form.label :body, "New post", class: "label"%>
        <div class="control">
          <%= form.text_area :body, class: "textarea" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= form.submit class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="columns" id="posts">
  <div class="card column is-half is-offset-one-quarter">
    <% @posts.each do |post| %>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= image_tag ("pipboy.jpeg")%>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <h1 class="title is-5"><%= post.author.name %></h1>
            <h2 class="subtitle is-7">
              <%= link_to "go to post", post_path(post[:id], method: "get") %>
            </h2>
            <p class="is-family-primary"> 
              <%= post.body %> 
            </p>
          </div>

          <% post.comments.each do |comment| %>
            <article class="media">
              <figure class="media-left">
                <p class="image is-32x32">
                  <%= image_tag ("pipboy.jpeg")%>
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h2 class="title is-6">
                    <strong><%= comment.author.name %></strong>
                  </h2>
                  <p class="is-family-primary"> 
                    <%= comment.content %> 
                  </p>
                </div>
              </div>            
            </article>
          <% end %>
        </div>
        
        
      </article>
      <article class="media">
          <div class="media-content">
            <%= form_with model: @comment, local: true do |form| %>
              <%= form.hidden_field :post_id, value: post[:id] %>
              <div class="field">
                <div class="control">
                  <%= form.text_area :content, class: "textarea" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.submit class: "button" %>
                </div>
              </div>
            <% end %>
                
          </div>
        </article>
    <% end %>
  </div>
</section>

