
<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href=<%= root_path %>>
    <strong>Fakebook</strong>         
    </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
      
      <a class="navbar-link" href=<%= root_path %>>
        <%= current_user[:name] %>
      </a>

      <div class="navbar-dropdown">
        <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "navbar-item" %>
      </div>

    </div>
  </div>
</nav>




<p id="notice"><%= notice %></p>

<section id="new-post-form" class="columns">
  <div class="column is-half is-offset-one-quarter card">
    <%= form_with model: @post, local: true do |form| %>
      <div class="field">
        <%= form.label :body, "New post", class: "label"%>
        <div class="control">
          <%= form.text_area :body, class: "textarea" %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= form.submit class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section class="columns" id="posts">
  <div class="card column is-half is-offset-one-quarter">
    <% @posts.each do |post| %>
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <%= image_tag ("pipboy.jpeg")%>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <h2 class="title is-4">
              <strong><%= post.author.name %></strong>
            </h2>
            <p> 
              <%= post.body %> 
            </p>
          </div>
        </div>
      </article>
    <% end %>
  </div>
</section>

