<section class="columns" id="posts">
  <div class="card column is-half is-offset-one-quarter">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <%= image_tag ("pipboy.jpeg")%>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="title is-4">
            <strong><%= @post.author.name %></strong>
          </h2>
          <p class="is-family-primary"> 
            <%= @post.body %> 
          </p>
        </div>

        <% @post.comments.each do |comment| %>
          <article class="media">
            <figure class="media-left">
              <p class="image is-32x32">
                <%= image_tag ("pipboy.jpeg")%>
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <h2 class="title is-6">
                  <strong><%= comment.author.name %></strong>
                </h2>
                <p class="is-family-primary"> 
                  <%= comment.content %> 
                </p>
              </div>
            </div>            
          </article>
        <% end %>
      </div>
    </article>
  </div>
</section>