<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav id="main-navbar" class="navbar is-info">
      <div class="navbar-brand">
        <a class="navbar-item" href=<%= root_path %>>
        <strong>Fakebook</strong>         
        </a>
      </div>

      <% unless current_user.nil? %>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            
            <a class="navbar-link" href=<%= root_path %>>
              <%= current_user[:name] %>
            </a>

            <div class="navbar-dropdown">
              <%= link_to "Log out", destroy_user_session_path, method: "delete", class: "navbar-item" %>
            </div>

          </div>
        </div>
        <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
